

<!-- Instagram Begin -->
<div class="instagram" style="padding-top: 35px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" 	style="background-image:url('assets/img/instagram/a.jpg')">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="assets/#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" 	style="background-image:url('assets/img/instagram/c.jpg')">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a routerLink="search"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" 	style="background-image:url('assets/img/instagram/b.jpg')">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="assets/#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" 	style="background-image:url('assets/img/instagram/d.jpg')">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="assets/#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" 	style="background-image:url('assets/img/instagram/e.jpg')">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="assets/#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" 	style="background-image:url('assets/img/instagram/f.jpg')">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="assets/#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="assets/./index.html"><img src="assets/img/logo.png" alt=""></a>
                    </div>
                    <p>Des idées cadeaux de chez Ideecadeaux.tn : le site idéal pour trouver LE cadeau idéal.</p>
                    <div class="footer__payment">
                        <a href="assets/#"><img src="assets/img/payment/payment-1.png" alt=""></a>
                        <a href="assets/#"><img src="assets/img/payment/payment-2.png" alt=""></a>
                        <a href="assets/#"><img src="assets/img/payment/payment-3.png" alt=""></a>
                        <a href="assets/#"><img src="assets/img/payment/payment-4.png" alt=""></a>
                        <a href="assets/#"><img src="assets/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>PAGES</h6>
                    <ul>
                        <li><a href="assets/#">Acceuil</a></li>
                        <li><a href="assets/#">Catalogue</a></li>
                        <li><a href="assets/#"> A propos</a></li>
                        <li><a href="assets/#">Nous joindre</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>CONTACT</h6>
                    <ul>
                        Si vous ne trouvez pas 
                        ce que vous cherchez sur notre site,
                         Contactez-nous et nous ferons l’impossible pour le trouver pour vous.
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">S'ABONNER</button>
                    </form>
                    <div class="footer__social">
                        <a href="assets/#"><i class="fab fa-facebook-square"></i></a>
                        <a href="assets/#"><i class="fab fa-twitter-square"></i></a>
                        <a href="assets/#"><i class="fab fa-youtube-square"></i></a>
                        <a href="assets/#"><i class="fab fa-instagram"></i></a>
                        <a href="assets/#"><i class="fab fa-pinterest-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
             
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
